<section class="trail-container">
        <h3 class="trailName">{{trailName}}</h3>
    <div class="image-container">
        <img src="{{url}}" alt="{{trailName}}">
    </div>
    <div class="caption-container">
        <p>Address: {{address}}</p>
        <button class="FavoriteButton" type="button"> Add/Remove {{trailName}} to Favorites</button>
    </div>
</section>